/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --azul: #19376D;
    --azul_claro: #83A2FF;
    --azul_oscuro: #092635;
    --azul_re_oscuro: #161A30;
    --negro: #121212;
    --blanco: #EEF5FF;
    --verde: #65B741;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: var(--azul_re_oscuro);
    padding: 6px 14px;
    z-index: 99;
    transition: all 0.5s ease;
}

.sidebar.open {
    width: 250px;
}

.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.sidebar .logo-details .icon {
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
    opacity: 1;
}

.sidebar .logo-details #btn {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
    text-align: right;
}

.sidebar i {
    color: var(--blanco);
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
}

.sidebar .nav-list {
    margin-top: 20px;
    height: 100%;
}

.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
}

.sidebar li .tooltip {
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: var(--blanco);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
}

.sidebar li:hover .tooltip {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
}

.sidebar.open li .tooltip {
    display: none;
}

.sidebar li a {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: var(--azul_re_oscuro);
}

.sidebar li a:hover {
    background: #FFF;
}

.sidebar li a .links_name {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.sidebar.open li a .links_name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
    transition: all 0.5s ease;
    color: var(--azul_re_oscuro);
}

.sidebar li i {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}

.sidebar li.profile {
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: var(--azul);
    transition: all 0.5s ease;
    overflow: hidden;
}

.sidebar.open li.profile {
    width: 250px;
}

.sidebar li .profile-details {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.sidebar li img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.sidebar li.profile .name,
.sidebar li.profile .job {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.sidebar li.profile .job {
    font-size: 12px;
}

.sidebar .profile #log_out {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--azul);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
    width: 50px;
    background: none;
}

.home-section {
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
}

.sidebar.open~.home-section {
    left: 250px;
    width: calc(100% - 250px);
}

.home-section {
    padding: 18px;
}

@media (max-width: 420px) {
    .sidebar li .tooltip {
        display: none;
    }
}



/* boton de agregar */
.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #83A2FF;
  }
  
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign i {
    text-decoration: none;
    font-size: 20px;
    color: white;
  }
  
  .Btn .text{
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }
  
  .opciones{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 20px;
  }
  
  
  /* MODAL AGREGAR */
  .modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.781);
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 99999;
    pointer-events: none;
    opacity: 0;  
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
  }
  
  .show {
    pointer-events: auto;
    opacity: 1;
  }
  
  .modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
  }
  
  .title {
    font-size: 28px;
    color: #83A2FF;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
  }
  
  .title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: var(--azul);
  }
  
  .title::before {
    width: 18px;
    height: 18px;
    background-color: var(--azul);
  }
  
  .title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
  }
  
  .message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
    margin: 0;
    text-align: left;
  }
  
  .signin {
    text-align: center;
  }
  
  .signin a {
    color: royalblue;
  }
  
  .signin a:hover {
    text-decoration: underline royalblue;
  }
  
  .flex {
    display: flex;
    width: 100%;
    gap: 6px;
  }
  .flex label{
    width: 100%;
  }
  .form label {
    position: relative;
  }
  
  .form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
  }
  
  .form label span {
    position: absolute;
    left: 10px;
    top: 30px;
    color: #83A2FF;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
  }
  
  
  .botones-form{
    display: flex;
  }
  .crear {
    border: none;
    outline: none;
    background-color: var(--azul);
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    margin: 5px;
    transition: all .5s ease;
    cursor: pointer;
  }
  
  .crear:hover {
    background-color:var(--azul_claro);
    color: var(--blanco);
  }
  
  .cancelar {
    border: 1px solid red;
    outline: none;
    background-color: transparent;
    padding: 10px;
    width: 50%;
    border-radius: 10px;
    color: red;
    font-size: 16px;
    transform: .3s ease;
    margin: 5px;
    transition: all .5s ease;
    cursor: pointer;
  }
  
  .cancelar:hover {
    background-color: red;
    color: white;
  }
  
  @keyframes pulse {
    from {
      transform: scale(0.9);
      opacity: 1;
    }
  
    to {
      transform: scale(1.8);
      opacity: 0;
    }
  }

  /* options */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 3px solid var(--azul_claro);
    background: var(--blanco);
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: var(--azul_re_oscuro);
    cursor: pointer;
    font-size: 1em;
}

select::-ms-expand {
    display: none;
}


.select {
    position: relative;
    display: flex;
    height: 3em;
    line-height: 3;
    overflow: hidden;
    border-radius: .25em;
    width: 100%;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: var(--azul_claro);
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: var(--azul_claro);
    background-color: var(--azul);
}
  
.contenedor {
  margin: 30px;
  background-color: var(--azul_re_oscuro);
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
.cssbuttons-io-button {
  margin-top: -1px;
  background: var(--blanco);
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em var(--azul_claro);
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: var(--azul_claro);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em var(--azul_claro);
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: var(--blanco);
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.header-form {
  display: flex;
  justify-content: space-between;
  color: var(--blanco);
  font-weight: bold;
}
.header-form p{
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formulario-usuarios{
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 10px;
  justify-content: space-around;
}
.empty{
  color: var(--azul_claro);
  font-size: 20px;
  font-weight: bold;
}
.card {
  width: 190px;
  height: 245px;
  background: var(--blanco);
  border-radius: 15px;
  box-shadow: 1px 5px 60px 0px #100a886b;
 }
 
 .card .card-border-top {
  width: 60%;
  height: 3%;
  background: var(--azul_re_oscuro);
  margin: auto;
  border-radius: 0px 0px 15px 15px;
 }

 .card span {
  font-weight: 600;
  color: var(--azul_re_oscuro);
  text-align: center;
  display: block;
  padding-top: 10px;
  font-size: 16px;
 }
 
 .card .job {
  font-weight: bold;
  color: var(--azul);
  display: block;
  text-align: center;
  padding-top: 3px;
  font-size: 14px;
 }
 
 .card .img {
  width: 40px;
  height: 40px;
  background: var(--azul_re_oscuro);
  border-radius: 50%;
  margin: auto;
  margin-top: 25px;
 }
 
 .estado span{
 color: var(--verde);
 }

.gestor .opciones{
  display: flex;
  margin: auto;
}

#editar-b a{
  color: var(--azul_claro);
  border-radius: 5px;
  padding: 0 5px;
  
}
#editar-b a:hover{
  color: var(--azul); 
  transition: all 0.5s;
  cursor: pointer;
}

#eliminar-b{
  color: red;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  
}
#eliminar-b:hover{
  color: var(--azul);
  transition: all 0.5s;
  cursor: pointer;
}