
{{#if exito_msg}}
<div class="notificacion">
    <div class="notificacion_body">
        {{exito_msg}}
        <i class="fa-solid fa-circle-check" style="color: #55ae3d;"></i> 
    </div>
    <div class="progreso_notificacion"></div>
</div>
{{/if}}

{{#if error_msg}}
<div class="notificacion">
    <div class="notificacion_body">
        {{error_msg}}
        <i class="fa-solid fa-circle-xmark" style="color: #df0707;"></i>
    </div>
    <div class="progreso_notificacion"></div>
</div>
{{/if}}